.tabs .tab::before {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  width: 32px;
  height: 2px;
  bottom: 0;
  transition: 0.3s;
}

.tabs .tab:hover::before {
  width: 100%;
  background-color: theme("colors.accent");
}
.tabs .active.tab::before {
  width: 100%;
  background-color: theme("colors.accent");
}
