.projects .title {
  position: relative;
}

.projects .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 100px;
  height: 2px;
  background: theme("colors.accent");
  border-radius: 50%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}